%center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    @extend %center;

    .who {
      top: 0;
    }

    .products, .cart {
        margin: 0 1.5rem;
        @extend %center;
        flex-direction: column;
        margin: 0;
        height: 100vh;
        width: 100vw;
        justify-content: flex-end;
        background-image:url('../assets/img/mountains.jpg');
        background-size: cover;
        background-position: center;

        .containerTest {
          display: flex;
          align-items: center;
          flex-direction: column;
          background:#6e94d1;
          color: white;
          opacity: .9;
          flex: 1;
          margin: .5rem 1.5rem 0 1.5rem;
          border-radius: 15px;
          padding: 0 4rem;

      .hide1,
      .hide2 {
        display: none !important;
      }
      }
    }

    a {
        &.btnChoose {
            @extend%center;
            background: #22447a;
            margin-top: .5rem;
            height: 3.5rem;
            width: 12.5rem;
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            border-radius: 15px;
        }
        &.btn {
            @extend %center;
            width: 100vw;
            background: #22447a;
            margin-top: .5rem;
            height: 3.8rem;
            color: white;
            text-decoration: none;
            text-transform: uppercase;


            //Logga in
            &.ready { 
                background: #199d59;
                color: #cfcfcf;
            }

            .green {
                background: rgb(139, 219, 159);
                height: 2.8rem;
            }
        }

            .blue {
            background: lightblue;
            height: 2.8rem;
        }
    }
}
