%center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    @extend %center;

    a {
        &.btn {
            @extend %center;
            width: 100vw;
            background: #22447a;
            margin-top: .5rem;
            height: 3.8rem;
            color: white;
            text-decoration: none;
            text-transform: uppercase;


            &.ready {
                background: green;
                color: #cfcfcf;
            }

            .green {
                background: rgb(139, 219, 159);
                height: 2.8rem;
            }
        }
            .blue {
            background: lightblue;
            height: 2.8rem;
        }
    }
}
